<!-- <router-outlet></router-outlet> -->
<div class=" animated fadeInDown" style="animation-delay:1.8s; width: 20vw; margin-left: 1vw;">
    <form> 
    <!-- Name input -->
    <div class="form-outline mb-4 animated fadeInDown" style="animation-delay:1.8s;">
      <input type="text" id="form4Example1" class="form-control" placeholder="Name"/>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4 animated fadeInDown" style="animation-delay:1.8s;">
      <input type="email" id="form4Example2" class="form-control" placeholder="Email address" />
    </div>
  
    <!-- Message input -->
    <div class="form-outline mb-4 animated fadeInDown" style="animation-delay:1.8s;">
      <textarea class="form-control" id="form4Example3" rows="4" placeholder="Message"></textarea>
    </div>
  
    <!-- Checkbox -->
    <div class="form-outline mb-4">
      <input type="date" style="font-family: 'Merienda', cursive;">
    </div>
    <div class="form-check d-flex justify-content-between mb-4 animated fadeInDown" style="animation-delay:1.8s;">
      <input
          class="form-check-input me-2 m-8"  
          type="checkbox"
          value=""
          id="form4Example4"
          checked 
        />
      <label class="form-check-label" for="form4Example4" style="color: rgb(253, 253, 253); font-family: 'Kaushan Script', cursive;">
        Send me a copy of this message
      </label>
    
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-danger btn-rounded text-center animated fadeInDown" style=" animation-delay:1.8s; background-color: red; width: auto; font-family: 'Merienda', cursive;">Create quote</button>
    </form>
</div>